.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-link {
    font-size: 24px;
    font-weight: 700;
}
.search-nav {
    display: flex;
}
.profile-btn > img {
    height: 30px;
    width: 35px;
    border-radius: 20px;
}
.search-input {
    height: 35px;
    border-radius: 10px;
    padding: 10px 10px;
}
.search-img {
    position: relative;
    right: 30px;
    top: 8px;
    height: 17px;
    width: 17px;
    color: gray;
}
.notification-bell {
    height: 25px;
    width: 25px;
    position: relative;
    top: 5px;
    right: 15px;
}